<div class="ui very relaxed items">
  {{#if session.user.isAdmin}}
    {{nav-item
      route="home.programs.program.teams.team.skaters"
      model=model
      name="Skaters"
      logo="assets/images/skater2.png"
    }}
  {{/if}}
  {{nav-item
    route="home.programs.program.teams.team.events"
    model=model
    name="Events"
    logo="assets/images/event.png"
  }}
</div>
{{outlet}}