<div class="custom-sidebar">
  <div id="wormhole-for-sidebar-items" class="ui items"></div>
</div>

<div class="ui one column centered grid main-content">
  <div class="column">
    {{outlet}}
  </div>
</div>
