<div class="ui segment center-content">
  <div class="ui one column grid">
    <div class="column">
      {{#link-to "home.events" class="ui fluid card launcher-card"}}
        <div class="image">
          <img class="ui small image" src="./assets/images/skater.svg" alt="skater">
        </div>
        <div class="content">
          <div class="header">Skaters</div>
        </div>
      {{/link-to}}
    </div>
    {{!-- <div class="column">
      {{#link-to "home.volunteers" class="ui fluid card launcher-card"}}
        <div class="image">
          <img class="ui small image" src="./assets/images/volunteer.svg" alt="volunteer">
        </div>
        <div class="content">
          <div class="header">Volunteers</div>
        </div>
      {{/link-to}}
    </div> --}}
  </div>

</div>